html,body {
    font-family: 'Poppins';
}

.container{
    margin: 40px;
    padding-left:50px ;
    padding: 100px;
}

.info-company{
    margin: 50px;
    border: 1px solid #000;
    padding: 50px;
    border-radius: 10px;
}

.title{
    margin: 50px;
}

.info-perso{
    margin-left: 50px;
    padding-left: 50px;
}

.detail{
    margin-left: 50px;
    padding-left: 50px;
}

th{
    width: 450px!important;
    text-align: center;
}

thead th{
    background:rgb(28, 80, 105) !important;
    color: #FFEFFA;
}
