*{
    margin: 0;
    padding: 0;
}

body,html{
    font-family: 'Poppins';
}

.contrat{
    margin: 40px;
    border: 15px solid #069;
    border-style: inset;
    padding: 100px;
}

.title{
    text-align: center;
}

.title-child{
    text-decoration: underline;
}

.decale{
    margin: 40px;
}

ul li{
    list-style: inside;
}

.check li{
    list-style: outside;
}
